app_status = testing

[mq]
access_key_id =
access_key_secret =
end_point =
instance_id =
group_id =

[mns]
access_key_id =
access_key_secret =
end_point =


[aliyun_rabbitmq]
endpoint = 
port = 5672
instance_id = 
access_key = 
access_secret = 
vhost = /
connection_timeout = 10.0
read_write_timeout = 10.0
keepalive = false
heartbeat = 0

