app_status = testing

[mq]
access_key_id =
access_key_secret =
end_point =
instance_id =
group_id =

[mns]
access_key_id =
access_key_secret =
end_point =

[rabbitmq]
host = localhost
port = 5672
username = guest
password = guest
vhost = /
connection_timeout = 3.0
read_write_timeout = 3.0
keepalive = true
heartbeat = 0

